*,
*::before,
*::after {
  box-sizing: border-box;
}
img {
  width: 100px;
  height: auto;
}
img:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("assets/_.jpeg");
  background-size: cover;
  opacity: 100%;
  z-index: -1;
  background-color: rgb(183, 138, 153);

  min-height: 100vh;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "serif";
  margin: 0;
  letter-spacing: 0.1em;
  text-align: justify;
}

ul {
  padding: 10%;
  list-style-type: none;
  text-align: justify;
}

li {
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  font-size: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.wrapper {
  columns: 3;
  gap: 1em;
  margin: 1em;
  column-rule: 2px solid rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}
.break {
  break-inside: avoid;
}

.title {
  column-span: all;
  gap: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

p {
  color: rgb(234, 215, 215);
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 1024px) {
  .wrapper {
    column-width: 40em;
    justify-content: center;
  }
}
